<footer class="footer container">
  <div>
    <h3 class="text-center">Categorias</h3>
    <nav>
      <a href="#">Cocina</a>
      <a href="#">Oficina</a>
      <a href="#">Jardin</a>
      <a href="#">Cochera</a>
      <a href="#">Dormitorios</a>
    </nav>
  </div>

  <div>
    <h3 class="text-center">Sobre Nosotros</h3>
    <nav>
      <a href="#">Nuestra Historia</a>
      <a href="#">Mision, Vision y Mision</a>
      <a href="#">Carreras</a>
      <a href="#">Politica de privacidad</a>
      <a href="#">Terminos de Servicio</a>
    </nav>
  </div>

  <div>
    <h3 class="text-center">Soporte</h3>
    <nav>
      <a href="#">Preguntas frecuentes</a>
      <a href="#">Ayuda Online</a>
      <a href="#">Confianza y seguridad</a>
    </nav>
  </div>
</footer>
