<main>
  <h2 class="text-center">Sobre Nosotros</h2>
  <div class="nosotros-container container">
    <img src="../../assets/images/nosotros.jpg" alt="mueble" />
    <div class="nosotros-texto">
      <p class="black-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At praesentium
        accusamus dolore quas harum aperiam ab aspernatur itaque excepturi est
        totam voluptate reiciendis officia sit et sunt, nemo temporibus ex.
      </p>
      <p class="black-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
        nobis, cumque, iste sapiente inventore earum dignissimos molestias minus
        corporis eveniet beatae fugit ullam alias reprehenderit, sint possimus
        at placeat pariatur.
      </p>
    </div>
  </div>
</main>
