<main class="main-content container">
  <h2 class="text-center">Tienda</h2>
  <div class="productos-grid">
    <div class="producto">
      <img src="../../assets/images/producto1.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto2.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto3.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto4.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 4</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto5.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 5</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto6.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 6</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
  </div>
  <!-- fin del contenedor de productos -->
</main>
