.hero {
  background-image: url('../../assets/images/principal.jpg');
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  .hero {
    height: 55rem;
  }
}

/* inicio categorias de productos */
.categorias-title {
  text-align: center;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.categoria {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.categoria a {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: whitesmoke;
  border-bottom-right-radius: 1rem;
}

.categoria:last-of-type {
  margin-bottom: 4rem;
}

/* fin categorias de productos */

/* inicio Nosotros */
.nosotros {
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url('../../assets/images/nosotros.jpg');
  background-repeat: no-repeat;
  background-position: center top left;
  background-size: 100%, 48rem;
}

.nosotros-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 4rem;
}

.nosotros-texto {
  grid-row: 2/3;
  color: whitesmoke;
  font-size: 1.7rem;
  padding: 0 1.5rem;
}

.nosotros-texto h2 {
  margin: 0;
}

/* fin Nosotros */

/* inicio main content */
.main-content {
  padding-top: 5rem;
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: whitesmoke;
  padding: 2rem;
}

.texto-producto .precio {
  font-size: 4rem;
  font-weight: 900;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 4rem;
}
