<div class="hero"></div>

<section class="container">
  <h2 class="categorias-title">Categorias de productos</h2>
  <div class="listado-categorias">
    <div class="categoria">
      <img src="../../assets/images/categoria1.jpg" alt="imagen de categoria" />
      <a href="#">Oficina</a>
    </div>

    <div class="categoria">
      <img src="../../assets/images/categoria2.jpg" alt="imagen de categoria" />
      <a href="#">Hogar</a>
    </div>

    <div class="categoria">
      <img src="../../assets/images/categoria3.jpg" alt="imagen de categoria" />
      <a href="#">Cocina</a>
    </div>
  </div>
</section>

<section class="nosotros">
  <div class="nosotros-grid">
    <div class="nosotros-texto">
      <h2 class="text-center">Sobre Nosotros</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
        fugiat ipsa aliquam, quisquam nulla ad sit officiis suscipit dolores
        illo autem animi, adipisci dignissimos numquam. Vitae consequatur sint
        officia officiis.
      </p>
    </div>
  </div>
</section>

<main class="main-content container">
  <h2 class="text-center">Nuestros productos</h2>
  <div class="productos-grid">
    <div class="producto">
      <img src="../../assets/images/producto1.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto2.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto3.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto4.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 4</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto5.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 5</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
    <div class="producto">
      <img src="../../assets/images/producto6.jpg" alt="producto_1" />
      <div class="texto-producto">
        <h3>Titulo del producto 6</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id
          voluptate quas eius a nisi corrupti, doloribus delectus veritatis.
          Dolores facilis distinctio id totam impedit deserunt recusandae
          accusantium perspiciatis alias.
        </p>
        <p class="precio">$1000,000.00</p>
        <a class="btn" href="#">Agregar al carrito</a>
      </div>
    </div>
    <!-- fin del producto -->
  </div>
  <!-- fin del contenedor de productos -->
</main>
