<main>
  <h2 class="text-center">Blog</h2>
  <section class="contenido-blog container">
    <div class="blog">
      <!-- inicio de la entrada del blog -->
      <article class="entrada">
        <h2>Paleta de colores</h2>

        <div class="imagen-blog">
          <img src="../../assets/images/nosotros.jpg" alt="imagen-blog" />
        </div>

        <div class="entrada-meta">
          <p>Fecha:<span> 22 de Octubre del 2022</span></p>
          <p>Escrito por:<span> Tienda Muebles</span></p>
        </div>

        <div class="entrada-blog">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
            ipsa ratione expedita dolorum ducimus incidunt perspiciatis
            accusantium labore quis iure! Assumenda dolor aut consequuntur
            possimus obcaecati reprehenderit deserunt dolorem unde.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
            vitae animi nulla recusandae, mollitia unde hic enim atque illum
            velit, vero saepe magnam ex error maiores eos iste pariatur vel.
          </p>
        </div>
        <div class="blog-botton">
          <a class="btn max-width-30" href="#">Leer Mas</a>
        </div>
      </article>
      <!-- fin de la entrada del blog -->

      <!-- inicio de la entrada del blog -->
      <article class="entrada">
        <h2>Paleta de colores</h2>

        <div class="imagen-blog">
          <img src="../../assets/images/nosotros.jpg" alt="imagen-blog" />
        </div>

        <div class="entrada-meta">
          <p>Fecha:<span> 22 de Octubre del 2022</span></p>
          <p>Escrito por:<span> Tienda Muebles</span></p>
        </div>

        <div class="entrada-blog">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
            ipsa ratione expedita dolorum ducimus incidunt perspiciatis
            accusantium labore quis iure! Assumenda dolor aut consequuntur
            possimus obcaecati reprehenderit deserunt dolorem unde.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
            vitae animi nulla recusandae, mollitia unde hic enim atque illum
            velit, vero saepe magnam ex error maiores eos iste pariatur vel.
          </p>
        </div>
        <div class="blog-botton">
          <a class="btn max-width-30" href="#">Leer Mas</a>
        </div>
      </article>
      <!-- fin de la entrada del blog -->
    </div>
    <aside>
      <h3>Otras entradas del blog</h3>
      <ul>
        <li><a href="#">otra entrada</a></li>
        <li><a href="#">otra entrada</a></li>
        <li><a href="#">otra entrada</a></li>
        <li><a href="#">otra entrada</a></li>
        <li><a href="#">otra entrada</a></li>
      </ul>
    </aside>
  </section>
</main>
